
#form{
    width: 500px;
    height: 450px;
    padding: 10px;
    background-color: transparent;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    color: rgb(112, 106, 106);
    position: absolute;
    left: 30%;
    top:20%;
    text-align: center;
    background-image: url();
    background-size: 1000px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body{
    background-image: url(img/payy.jpg);
    background-repeat: no-repeat;
    background-size: 1370px;
    background-attachment: fixed;
    text-align: center;
}

#form input{
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 10px;
}

#div{
    background-image: url(img/card.jpg);
    background-color: wheat;
    background-attachment: fixed;
    background-size: 300px;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 25%;
    left: 30%;
    border-radius: 10px;
}

#form h1{
    color: white;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bolder;
}

#form p{
    color: white;
    font-size: large;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

#card_no{
    top: 40%;
    position: absolute;
    left: 10%;
    padding-left: 30px;
    padding-right: 30px;
    width: 400px;
    text-align: center;
}


#exp_date{
    position: absolute;
    left: 20%;
    top: 55%;
}

#cvv{
    position: absolute;
    left: 58%;
    top:55%;
    width: 100px;
}

#form button{
    background-color: blue;
    color: white;
    border-radius: 10px;
    width: 100px;
    height: fit-content;
    padding: 10px;
    position: absolute;
    top: 85%;
    left: 42%;
    text-align: center;
}

#amount{
    position: absolute;
    top:70%;
    width: 130px;
    left: 36%;
}

select{
    border-radius: 10px;
    padding: 10px;
}

#div_content{
    position: absolute;
    top: 100%;
    background-color: black;
    width: fit-content;
    height: fit-content;
    color: tomato;
    left: 15%;
}